.sidebar {
  width: 16rem;
  padding: 1rem;
  border-right: 0.0625rem solid #e1e8ed;
  height: 100vh;
  font-size: 1.5rem;
  position: fixed;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
}

.link,
.active {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 9999px;
  font-weight: 500;
  text-decoration: none;
  color: #14171a;
  transition: background-color 0.2s;
}

.link:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

.active {
  font-weight: 700;
  color: #1da1f2;
}

svg {
  width: 1.5rem;
  height: 1.5rem;
}

.unread {
  background-color: #e0245e;
  color: white;
  border-radius: 999px;
  min-width: 1.2em;
  height: 1.2em;
  font-size: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.bottom {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.2em;
  margin-top: auto
}

.bottom:hover {
  border-radius: 1em;
  background-color: #e1e8ed;
}

.handle {
  font-size: 0.875rem;
  color: #657786;
}

.profileImage {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #ccd6dd;
}

.actionBox {
  display: flex;
  gap: 0.2em;
  align-items: center;
  color: #e0245e;
  z-index: 999;
  border: 1px solid;
  border-radius: 2em;
  padding: 0.2em;
  cursor: pointer;
}

.actionBox:hover {
  background-color: #e0245e;
  color: white;
  transition: background-color 0.2s;
}