.top {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 99;
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
}