.message {
    max-width: 60%;
    margin: 5px 0;
    padding: 8px 12px;
    border-radius: 15px;
    position: relative;
    width: fit-content;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
}

.myMessage {
    background-color: #1da1f2;
    color: white;
    margin-left: auto;
    text-align: right;
}

.otherMessage {
    background-color: #e5e5ea;
    color: black;
    margin-right: auto;
    text-align: left;
    align-items: center;
}

.data {
    display: flex;
    font-size: 0.7rem;
    opacity: 0.6;
    align-items: center;
}
