.contact {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    padding: 0.5em;
    border-bottom: 0.0625rem solid #e1e8ed;
}

.active {
    background-color: #1da1f2;
}

.contact:hover {
    background-color: rgba(29, 161, 242, 0.1);
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contactAvatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #d9d9d9;
}

.contactName {
    font-weight: 600;
    font-size: 1rem;
}

.lastMessage {
    font-size: 0.875rem;
    color: #657786;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.createdAt {
  font-size: 0.7rem;
  color: #657786;
  opacity: 0.7;
}