.container {
    width: 70ch;
}

.tabs {
    display: flex;
    border-bottom: 1px solid #e6ecf0;
}

.tabs button {
    flex: 1;
    padding: 1rem;
    background: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
    color: rgb(86, 99, 112);
}

.tabs button:hover {
    background: #f5f8fa;
}

.tabs button.active {
    color: black;
    border-bottom: 3px solid #1da1f2;
}