.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.container {
    width: 50vw;
    max-width: 28rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
    color: #1da1f2;
}

.form {
    display: flex;
    flex-direction: column;
    /* gap: 1.5rem; */
}

.label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
    color: #14171a;
    margin-bottom: 0.5em;
}

.input {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 0.125rem solid #ccd6dd;
    border-radius: 1rem;
    outline: none;
    transition: border-color 0.2s;
    margin-bottom: 1.5em;
}

.input:focus {
    border-color: #1da1f2;
}

.button {
    padding: 0.75rem 1rem;
    background-color: #1da1f2;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #0d8ddb;
}

.errmsg {
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.invisible {
    position: absolute;
    left: -9999px;
}

.footer_text {
    margin-top: 1.5em;
    text-align: center;
}

@media (max-width: 480px) {
    .container {
        margin: 2rem 1rem;
        padding: 1.5rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .button {
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
    }
}