.container {
  max-width: 42rem;
}

.tweet {
  background-color: #fff;
  border-bottom: 0.0625rem solid #e1e8ed;
  padding: 1em;
  padding-bottom: 0;
}

.header {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.avatar {
  width: 3rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #ccd6dd;
}

.user {
  display: flex;
  flex-direction: column;
}

.username {
  font-weight: 700;
  font-size: 1rem;
  color: #0f1419;
}

.username:hover {
    text-decoration: underline;
}

.dot {
  color: #536471;
  margin: 0 0.25em;
}

.handle {
  font-size: 0.875rem;
  color: #536471;
}

.content {
  font-size: 1.25rem;
  line-height: 1.6;
  color: #0f1419;
  margin: 1rem 0;
  white-space: pre-wrap;
}

.meta {
  font-size: 0.875rem;
  color: #536471;
  padding-bottom: 1rem;
  border-bottom: 0.0625rem solid #e1e8ed;
}

@media (max-width: 40rem) {
  .content {
    font-size: 1.1rem;
  }

  .avatar {
    width: 2.5rem;
  }
}